<%= turbo_frame_tag "user-info" do %>
  <h4><%= @info.user.name %><h4>
  <br>
  <% if @info.present? %>
    <p><strong>Title:</strong> <%= @info.title %></p>
    <p><strong>Age:</strong> <%= @info.age %></p>
    <p><strong>Phone:</strong> <%= @info.phone %></p>
    <p><strong>Email:</strong> <%= @info.email %></p>

    <p>
      <%= link_to "Edit", edit_info_path(@info), data: { turbo_frame: "user-info" }, class: "btn btn-primary"  %> 
      <%= link_to "Delete Info", @info, data: { turbo_method: :delete, turbo_confirm: 'Are you sure, do you want to delete this user info?' }, class: "btn btn-danger" %>
    </p>
  <% else %>
    <%= link_to "Add Info", new_info_path(user_id: @info.user.id), data: { turbo_frame: "user-info" }, class: "btn btn-success" %>
  <% end %>
<% end %>

